.task {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  min-height: 40px;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.button-done {
  width: 25px;
  height: 25px;
  border: solid 1px rgb(60, 60, 239);
  border-radius: 5px;
  background-color: #FFF;
  padding: 0;
  cursor: pointer;
  transition: opacity 1s ease;
}

.button-done:hover {
  opacity: 0.5;
}

.button-done_active {
  background-image: url(../../Images/done.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.task__text {
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  width: 470px;
  text-align: left;
}

.button-delete {
  background-image: url(../../Images/delete.svg);
  background-size: 25px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: opacity 1s ease;
}

.button-delete:hover {
  opacity: 0.6;
}

.visually-hidden {
  position: absolute;
  width: 1px; 
  height: 1px;
  margin: -1px; 
  padding: 0; 
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 
}

@media screen and (max-width: 590px) {
  .task {
    gap: 10px;
    min-height: 30px;
    padding: 0 10px 5px;
  }
  
  .button-done {
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  
  .button-done_active {
    background-size: 17px;
  }
  
  .task__text {
    font-size: 14px;
    width: 200px;
    text-align: left;
  }
  
  .button-delete {
    background-size: 20px;
    width: 20px;
    height: 20px;
  }
}