.project {
    max-width: 1280px;
    min-width: 320px;
    min-height: 560px;
    background-color: #DDDEE3;
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.page__project {
    margin: 0 auto;
}

.project__header {
    font-family: 'Inter', Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    max-width: 626px;
    min-height: 104px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.3;
    margin: 50px 0 0 70px;
    letter-spacing: -0.04em;
    padding: 0;
}

.project__header_emphasis{
    font-weight: 500;
}

.landing-logo {
    max-width: 450px;
    max-height: 450px;
    align-self: flex-end;
    padding: 0 70px 70px 0;
}

@media screen and (max-width: 870px) {

    .project {
        flex-direction: column;
        align-items: center;
        min-height: 715px;
    }

    .project__header {
        text-align: center;
        margin: 50px 0 50px ;
    }

    .landing-logo {
        align-self: center;
        padding: 0 0 50px;
    }

}

@media screen and (max-width: 545px) {
    .project {
        min-height: 420px;
    }

    .project__header {
        font-size: 31px;
        line-height: 1.2581;
        max-width: 300px;
        margin: 50px 0 20px;
    }

    .landing-logo {
        max-width: 250px;
        max-height: 250px;
        align-self: center;
        padding: 0 0 20px;
    }

}