.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(201, 201, 201, 0.5);
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.popup_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 600px;
  min-height: 430px;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.popup__close {
  background-image: url(../../Images/Close-Icon.svg);
  background-size: 32px 32px;
  background-color: transparent;
  width: 32px;
  height: 32px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
  margin: 0;
  transition: opacity 1s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

.photo-card__title {
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.25;
  margin: 30px 0 20px;
  padding: 0;
}

.popup__form{
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 100%;
    padding: 0 20px;
    gap: 20px;
}

.popup__button_add {
  width: 40px;
  height: 40px;
  background-color: rgb(60, 60, 239);
  background-image: url(../../Images/Add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.222;
  text-align: center;
  border: none;
  border-radius: 10px;
  transition: opacity 1s ease;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

.visually-hidden {
  position: absolute;
  width: 1px; 
  height: 1px;
  margin: -1px; 
  padding: 0; 
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; 
}

.input-container {
  width: 500px;
  margin: 0 auto;
  padding: 0;
}

.popup__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px;
  padding: 4px 9px;
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2143;
  color: #000;
}

.popup__input:focus {
  outline-color: rgb(60, 60, 239);
}

.tasks {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
}

.tasks__header {
  font-family: 'Inter', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.25;
  margin: 10px 0 20px;
  padding: 0;
  text-align: center;
}

@media screen and (max-width: 590px) {
  .popup__container {
      width: 282px;
      min-height: 322px;
  }

  .popup__close {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
}

.photo-card__title {
  margin: 30px 0 20px;
  font-size: 24px;
}

.popup__form{
  padding: 0 10px;
  gap: 10px;
}

.popup__button_add {
  font-size: 14px;
  line-height: 1.21423;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-size: 15px;
}

.input-container {
  width: 238px;
}

.tasks__header {
  font-size: 20px;
  margin: 5px 0 10px;
}
}

